* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  font-size: 62.5%;
  width: 100%;
  scroll-behavior: smooth;
}

body,
input,
textarea,
select,
button {
  font-family: "Source Serif Pro", serif;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}
#login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #fff;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    display: none;
    z-index: 10;
}
 h1 {
  font-size: 3rem;
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #fff;
  width:300px;
  max-width: 70%;
  font-size: 2rem;
  margin: 0 auto;
}

label {
  display: block;
  text-align: left;
  font-size: 2rem;
  margin-bottom: 5px;
}
